<div class="page-title">Product Catelog</div>

<div class="products_list">
  <% @products.each_slice(6) do |product_row| %>
    <div class="product_row">
      <% product_row.each do |product| %>
        <div class="product_list_item">
          <div class="product-image">
            <%= link_to image_tag(product.image.url), product %>
          </div>
          <div class="product-name"><%= link_to truncate(product.name, length: 20, omission: "..."), product %></div>
          <%= render partial: "rating", locals: {rating: product.rating} %>
          <div>
            <div class="list-price">List <span><%= number_to_currency(product.display_list_price) %></span></div>
            <div class="price"><%= number_to_currency(product.display_price) %></div>
          </div>
          <div>
            <%= link_to "Add to Cart", "#", class: "btn btn-primary btn-sm btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= paginate @products %>
</div>
